.item {
    max-width: 400px;
    margin-bottom: 65px;
}
.link {
    display: flex;
    flex-direction: column;
}
.title {
    background: #f5f5f5;
    text-align: center;
    padding: 40px 5px;
    font-family: Inter, sans-serif;
    font-weight: 600;
}